::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #52525B;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #71717A;
}

html {
  scroll-behavior: smooth;
}
